/* Inventory Allproducts page */
.inv-AllProducts-headng{
    color: blue;
}
.inv-Allproducts-table{
    width: 100%;
    height: 50px;
    border-collapse:separate;
    border-spacing:0 15px;
}
.inv-allProducts-button{
    width: 150px;
    height: 40px;
}
.inv-allProducts-button:active{
    box-shadow: 0 5px #c2c2c2;
    transform: translateY(2px);
}
.inv-Allproducts-table-row{
    height: 40px;
}
.inv-Allproducts-table-heading1{
    border-radius: 10px 0 0 10px ;
}
.inv-Allproducts-table-heading2{
    border-radius: 0 10px 10px 0 ;
}

.inv-Allproducts-table-row1{
    border-radius: 10px 0 0 10px ;
}
.inv-Allproducts-table-row2{
    border-radius: 0 10px 10px 0 ;
}
.pti-allProducts-tble-buttons{
    /* width: 20px; */
    font-size: 20px;
    height: 25px;
    background: none;
    border: none;
}
.pti-allProducts-edit-buttons{
    color: green;
}
.pti-allProducts-delete-buttons{
    color: red;
}
/* add product page css */
.add-product-input{
    border-color: var(--secondary_blue);
}
.add-product-btn{
    width: 180px;
}
.add-product-btn:active{
    box-shadow: 0 5px #c2c2c2;
    transform: translateY(2px);
}
.add-product-upload{
    width: 220px;
    /* border: none; */
}