/* home css */
/* section 1 css */
.home-section-1 {
  width: 500px;
  height: 600px;
  background-image: url("../resources/home/homeSec1.png");
}
.home-sec1-button {
  width: 200px;
  height: 40px;
}
.home-sec1-header {
  font-size: 65px;
}
/* section 2 */
.home-sec2-img1 {
  width: 400px;
  height: 550px;
  background-image: url("../resources/home/homeSec2img1.png");
}
.home-sec2-img2 {
  width: 400px;
  height: 550px;
  background-image: url("../resources/home/homeSec2img2.png");
}
.home-sec2-img3 {
  width: 400px;
  height: 550px;
  background-image: url("../resources/home/homeSec2img4.png");
}
/* section 3 */
.home-sec3-box {
  width: 1000px;
  height: 500px;
  background-color: var(--light_blue);
}
.home-sec3-img {
  width: 900px;
  height: 500px;
  background-image: url("../resources/home/homeSec3Img.png");
  background-size: cover;
}
.home-sec3-img1 {
  width: 100px;
  height: 100px;
  background-image: url("../resources/home/homeSec3Img1.png");
  background-size: cover;
}
.home-sec3-img2 {
  width: 100px;
  height: 100px;
  background-image: url("../resources/home/homeSec3Img2.png");
  background-size: cover;
}
.home-sec3-img3 {
  width: 100px;
  height: 100px;
  background-image: url("../resources/home/homeSec3Img3.png");
  background-size: cover;
}
.home-sec3-para{
    width: 550px;
    line-height: 30px;
}
.home-sec3-button{
    width: 150px;
    height: 40px;
    
}
